.quiz-container{
    background-color: black;
    color: aqua;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
    padding: 20px;
    border-radius: 80px;
    padding: 40px;
}
body{
    background-color: crimson;
}
#question-selection{
    background-color: black;
    color: aqua;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
    padding: 40px; 
    text-align: center;
     border-radius: 80px;
}
#question-selection select{
    height: 40px;
    width: 150px;
    padding: 10px;
    background-color: aqua;
    margin-top: 25%;
}
#question-selection button{
    margin-top: 20px;
    height: 40px;

}
h1{
    font-size: 70px;
    text-align: center;
}
li{
    list-style-type: none;
}
button{
    height: 20px;
    width: 80px;
   background-color: chartreuse;
}